/* ------------ */
/* Version: 1.3 */
/* ------------ */

/* EVERYTHING THAT NEEDS ROUNDED CORNERS, BLUR & SHADOW */
.monaco-editor .suggest-widget, /* Suggestions widget */
.monaco-editor .monaco-hover, /* Hover widget */
.quick-input-widget, /* Command palette */
.editor-widget.parameter-hints-widget, /* Parameter hints */
.monaco-hover /* Hover, tooltips widget */ {
	overflow: hidden !important;
	border-radius: 10px !important;
	border: 1px solid rgba(24, 26, 31, 1) !important;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25)) !important;
	backdrop-filter: blur(25px) !important;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
}

/* MENU WINDOWS, TOOLTIPS, ETC */
/* Rounded corners for images, i.e user avatar in GitLive tooltip */
.monaco-hover img {
	border-radius: 5px !important;
}

/* SCROLLBARS */
/* Make scrollbar slider rounded */
.slider {
	border-radius: 5px !important;
}

/* SUGGESTIONS WIDGET */
/* Give padding to make it nicer */
.suggest-widget {
	padding: 3px !important;
}

/* Make the rows rounded */
.monaco-editor .suggest-widget .monaco-list-row {
	border-radius: 5px !important;
}

/* COMMAND PALETTE */
/* Make the command palette item background transparent */
.quick-input-list * {
	background: transparent !important;
}

/* Focused option background color */
.quick-input-list .focused {
	background: rgba(44, 49, 58, 1) !important;
}

/* Hovered option bold font */
/* .quick-input-list .monaco-list-row:hover {} */

/* Consistent border radius */
.quick-input-list .monaco-list-rows .monaco-list-row {
	border-radius: 5px !important;
}

/* FILE EXPLORER / EXTENSIONS / ETC VIEW */
/* Make the files/extensions/etc rounded */
.pane-body .monaco-list-row {
	border-radius: 5px !important;
	margin: 4px !important;
	width: 96% !important;
}

/* Padding so the bottom doesn't get cut off */
.pane-body .monaco-list-rows {
	padding-bottom: 6px !important;
}

/* WINDOW CONTROLS */
/* Make the window controls square, current 30x30, default 46x30 */
.window-controls-container .window-icon {
	width: 30px !important;
}

/* Fix the width */
.monaco-workbench .part.titlebar > .window-controls-container {
	width: auto !important;
}

/* MINIMAP */
/* Make the minimap slider rounded */
.minimap-slider {
	border-radius: 5px !important;
}

/* TODO: CONTEXT MENU */
/* .monaco-action-bar {} */
/* .monaco-menu-container {} */
